<header class="background padding border">
  <div class="row">
    <div class="col-md-3 col-xs-6">
      <%= link_to root_path do %>
        <%= image_tag "https://staticv2-4.rottentomatoes.com/static/images/logos/rtlogo.png", class: "img-responsive" %>
      <% end %>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
      <div class="bottom">
        <input class="search-field" type="text" name="search" placeholder="Search movies...">
      </div>
    </div>
    <div class="col-sm-4 hidden-sm hidden-xs">
      <div class="row text_link text-center">
        <div class="col-sm-3 col-sm-offset-3">
          <%= link_to 'About', about_path %>
        </div>
        <div class="col-sm-3">
          <%= link_to 'Log in', new_user_session_path %>
        </div>
        <div class="col-sm-3">
          <%= link_to 'Sign up', new_user_registration_path %>
        </div>
      </div>
      <br>
      <div class="row text-center text_header padding">
        <div class="col-sm-3">
          <p>Movies</p>
        </div>
        <div class="col-sm-3">
          <p>Tv</p>
        </div>
        <div class="col-sm-3">
          <p>News</p>
        </div>
        <div class="col-sm-3">
          <p>Tickets</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="marquesina border hidden-sm hidden-xs">
  <div class="row">
    <div class="col-md-8">
      <p class="margin_bottom"><span class="text_resaltat">Trending: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-6 align-right">
          <p class="text_resaltat">Follow us</p>
        </div>
        <div class="col-sm-6 footer_link text-center">
          <a href="https://twitter.com/" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.facebook.com/" class="fa fa-facebook-square"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.youtube.com/" class="fa fa-youtube-play"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        </div>
      </div>
    </div>
  </div>
</div>
