<div class="content">
  <h4 class="titol">Edita</h4>
  <hr>
  <div class="cos">
    <% @setting.errors.full_messages.each do |mensaje| %>
    <div class="alert alert-danger text-center">
      <%= mensaje %>
    </div>

    <% end %>
    <%= form_for @setting do |setting|%>
      <!-- <p>
        <%= setting.label :Country %> <br>
        <%= setting.text_field :country %>
      </p> -->
      <div class="field">
        <p>Selecciona un pais:</p>
        <%= setting.select :country, options_for_country, prompt: 'Select One', class: 'form-control' %>
      </div>

      <!-- <p>
        <%= setting.label :Language %> <br>
        <%= setting.text_field :language %>
      </p> -->
      <hr>
      <div class="field">
        <p>Selecciona un idioma:</p>
        <%= setting.select :language, options_for_language, prompt: 'Select One', class: 'form-control' %>
      </div>
      <br>

      <%= setting.submit "enviar datos", class:'btn btn-sm btn-info boto' %>

    <% end %>

  </div>
</div>
