<div id="wrapper">
  <div class="titol">
    <h2>Edita</h2>
  </div>
  <hr>

  <%if flash.present?%>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3" style="padding:25px 0">
          <%= render partial: "shared/flash_messages", flash: flash %>

      </div>
    </div>
  <%end%>

  <div class="cos">
    <% @setting.errors.full_messages.each do |mensaje| %>
    <div class="alert alert-danger text-center">
      <%= mensaje %>
    </div>

    <% end %>
    <%= form_for @setting do |setting|%>
      <p>
        <%= setting.label :Country %> <br>
        <%= setting.text_field :country %>
      </p>

      <p>
        <%= setting.label :Language %> <br>
        <%= setting.text_field :language %>
      </p>

      <%= setting.submit "enviar datos", class:'btn btn-sm btn-info boto' %>

    <% end %>

  </div>
</div>
