<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2 class="text-center">Comprar</h2>

    <%= link_to new_charge_path(pelicula_id: @pelicula.id, pelicula_name: @pelicula.name, user_email: @user.email, pelicula_precio: @pelicula.precio) do %>
      <div class="col-xs-5 peli_container buy left">
        <div class="row text-center">
          <div class="col-xs-12">
            <img src= '<%= @pelicula.image %>' alt="" class="foto_petita img-responsive">
          </div>
        </div>
        <div class="row text-center margin_top">
          <div class="col-xs-12 text_header">
            <%= @pelicula.name %>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-12">
            <h4><%= @pelicula.precio / 100.0 %>&nbsp;€</h4>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-12">
            <button class="btn btn-info">Pagar Ahora!</button>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to select_plan_path(pelicula_id: @pelicula.id, user_email: @user.email, pelicula_precio: @pelicula.precio) do %>
      <div class="col-xs-5 peli_container buy right">
        <div class="row text-center">
          <div class="col-xs-12 text_header">
            <p>Suscribirse a un plan mensual</p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-xs-12">
            <button class="btn btn-info">Suscribirse!</button>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
